<template>
  <div class="c-about container">

    <h3 class="c-about__title">
      About
    </h3>

    <img class="c-about__image"
      src="../assets/images/user_avatar.png"
      alt="Profile picture">

    <p class="c-about__description">
      I'm a front-end developer with around 5 years of experience, mostly around management and e-commerce platforms.
      Over the years I've expanded my knowledge to most aspects related to front-end development, from build and bundling
      tools, to hosting services to even some basic backend development with NodeJS.
      <br>
      I'm a creative guy and a real problem solver. It's important for me to always be able give my feedback and
      I love helping others.
    </p>

    <div class="c-about__details c-about-details">
      <p class="c-about-details__entry c-about-details-entry">
        <span class="c-about-details-entry__title">Name:</span>
        João Pedro Lucas de Almeida Fernandes
      </p>
      <p class="c-about-details__entry c-about-details-entry">
        <span class="c-about-details-entry__title">Birth:</span>
        21 February 1993
      </p>
      <p class="c-about-details__entry c-about-details-entry">
        <span class="c-about-details-entry__title">Nationality:</span>
        Portuguese
      </p>
      <p class="c-about-details__entry c-about-details-entry">
        <span class="c-about-details-entry__title">Location:</span>
        Lisbon, Portugal
      </p>
    </div>

    <div class="c-about__traits">
      <div class="c-about-traits-entry" v-for="trait in traits" :key="trait.id">
        <i class="c-about-traits-entry__icon fa" :class="trait.icon"/>

        <h5 class="c-about-traits-entry__name">
          {{ trait.name }}
        </h5>
        <p class="c-about-traits-entry__description">
          {{ trait.description }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import data from '../assets/data.json';

@Component
export default class About extends Vue {
  private traits = data.traits;
}
</script>

<style lang="scss">
  @import '../assets/sass/index';

  .c-about {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
      'title'
      'image'
      'description'
      'details'
      'traits';

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto max-content auto;
      grid-template-areas:
      'title title'
      'image description'
      'image details'
      'traits traits';
    }

    &__title {
      position: relative;
      grid-area: title;
      background: $primaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: $primaryGradient;
      }
    }

    &__image {
      width: 100%;
      height: auto;
      max-width: 18rem;
      grid-area: image;
      border-radius: 50%;
      justify-self: center;

      @include media-breakpoint-up(lg) {
        border-radius: 4px;
        justify-self: auto;
      }
    }

    &__description {
      color: white;
    }

    &__details {
      grid-area: details;
    }

    &__traits {
      grid-area: traits;
      display: grid;
      grid-gap: 1rem;

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .c-about-details-entry {
    color: white;
    font-size: 20px;

    &__title {
      margin-right: 10px;
      font-weight: bold;
      background: $primaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .c-about-traits-entry {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-areas:
      'icon name'
      '. description';
    grid-gap: 1rem;

    &__icon {
      grid-area: icon;
      margin-top: 0.4rem;
      font-size: 1.5rem !important;
      background: $primaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__name {
      grid-area: name;
      background: $primaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__description {
      grid-area: description;
      color: $white;
    }
  }
</style>
