<template>
  <div class="c-banner">
    <div class="container">

      <h1 class="c-banner__title">
        Hello!
      </h1>

      <h2 class="c-banner__subtitle">
        I'm <b>João Fernandes</b>
      </h2>

      <h4 class="c-banner__description">
        Front-End Developer
      </h4>

    </div>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Banner extends Vue {}
</script>

<style lang="scss">
  @import '../assets/sass/index';

  .c-banner {
    height: 100vh;
    display: flex;
    align-items: center;
    background: $primaryGradient;

    &__title {
      color: white;
      font-size: 5rem;
      line-height: 5rem;
      text-shadow: 2px 2px 4px #464c4f;

      @include media-breakpoint-up(lg) {
        font-size: 7.5rem;
        line-height: 7.5rem;
      }
    }

    &__subtitle {
      color: white;
      font-size: 3.5rem;
      line-height: 3.5rem;
      font-weight: normal;
      text-shadow: 2px 2px 4px #464c4f;

      @include media-breakpoint-up(lg) {
        font-size: 5rem;
        line-height: 5rem;
      }
    }

    &__description {
      color: white;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: normal;
      text-shadow: 2px 2px 4px #464c4f;

      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
</style>
