<template>
  <div class="c-contacts container">
    <h3 class="c-contacts__title">
      Contacts
    </h3>
    <p></p>

    <div class="c-contacts-entry" v-for="contact in contacts" :key="contact.link">
      <h5 class="c-contacts-entry__label">
        {{ contact.label }}
      </h5>
      <a class="c-contacts-entry__value" :href="contact.link" target="_blank">
        {{ contact.description }}
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import data from '../assets/data.json';

@Component
export default class Contacts extends Vue {
  private contacts = data.contacts;
}
</script>

<style lang="scss">
@import '../assets/sass/index';

.c-contacts {
  &__title {
    margin-bottom: 2rem;
    position: relative;
    grid-area: title;
    background: $primaryGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $primaryGradient;
    }
  }

  &__label {
    font-weight: bold;
    background: $primaryGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.c-contacts-entry {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    grid-template-columns: 1fr 2fr;
  }

  &__label {
    justify-self: left;
    font-weight: bold;
    background: $primaryGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
</style>
