<template>
  <div class="c-experience container">

    <h3 class="c-experience__title">
      Experience
    </h3>

    <div class="mb-5">
      <div class="c-experience__entry c-experience-entry" v-for="(entry,index) in experiences" :key="index">
        <h4 class="c-experience-entry__title">
          {{ entry.title }}
        </h4>
        <h5 class="c-experience-entry__company">
          {{ `${entry.companyName} - ${entry.location}` }}
        </h5>
        <p class="c-experience-entry__interval">
          <b>{{ `${entry.startDate.format('MMM YYYY')} - ${entry.endDate ? entry.endDate.format('MMM YYYY') : 'Present'}` }}</b>
        </p>

        <p class="c-experience-entry__description">
          {{ entry.description }}
        </p>
      </div>
    </div>

    <h3 class="c-experience__title">
      Education
    </h3>
    <div class="c-experience__education  c-experience-education">
      <a class="c-experience-education__school" href="https://www.fct.unl.pt/en">
        Universidade Nova de Lisboa - Faculdade de Ciências e Tecnologia
      </a>
      <p class="c-experience-education__degree">
        Pós-graduação em Engenharia Informática
      </p>
      <p class="c-experience-education__dates">
        2011-2016
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import moment from 'moment';

import data from '../assets/data.json';

@Component
export default class Experience extends Vue {
  private experiences = data.experiences.map((experience) => ({
    ...experience,
    startDate: moment(experience.startDate),
    endDate: experience.endDate ? moment(experience.endDate) : null
  }));
}
</script>

<style lang="scss">
  @import '../assets/sass/index';

  .c-experience-education {
    color: white;

    &__school {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__degree {
      font-size: 1.5rem;
    }
  }

  .c-experience-entry {
    &:not(:last-child):after {
      display: block;
      content: '...';
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      margin: 1rem 0;
      width: 100%;
    }

    &__title {
      margin: 0;
      background: $primaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__company {
      font-weight: bold;
      color: white;
    }

    &__location {
      color: white;
    }

    &__interval {
      color: white;
    }

    &__description {
      white-space: pre-line;
      color: white;
    }
  }

  .c-experience {
    &__title {
      margin-bottom: 2rem;
      position: relative;
      grid-area: title;
      background: $primaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: $primaryGradient;
      }
    }
  }
</style>
