<template>
    <footer class="c-footer">
      <div class="c-footer__container c-footer-container container">
        <p class="c-footer-container__copyright">
          Copyright 2021 João Fernandes
        </p>

        <a class="c-footer-container__print" href="./Curriculum%20Vitae%20-%20João%20Fernandes.pdf" target="_blank">
          Print CV
        </a>
        <button class="c-footer-container__back-to-top" @click="scrollToTop()" aria-label="Back to top">
          <i class="fa fa-angle-up"/>
        </button>
      </div>
    </footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Footer extends Vue {
  print (): void {
    window.print();
  }

  scrollToTop (): void {
    window.scroll({
      top: 0,
      behavior: 'smooth'
    });
  }
}
</script>

<style lang="scss">
@import '../assets/sass/index';

  .c-footer {
    padding: 1.5rem 0;
    background-color: $background1;
  }

  .c-footer-container {
    display: grid;
    grid-template-areas:
      'copyright'
      'print'
      'back-to-top';
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;

    @include media-breakpoint-up(lg) {
      grid-template-areas:
      'copyright print back-to-top';
      grid-template-columns: 1fr max-content max-content;
      justify-items: left;
    }

    &__copyright {
      grid-area: copyright;
      text-align: center;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        text-align: left;
      }
    }

    &__print {
      grid-area: print;
      padding: 0.5rem;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 4px;
      background: $primary2;
      text-decoration: none;
      transition: background-color 0.2s;

      &:hover {
        color: white;
        background: $primary1;
        text-decoration: none;
      }
    }

    &__back-to-top {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: back-to-top;
      font-size: 1.5rem;
      color: white;
      border: none;
      border-radius: 4px;
      background: $primary2;
      transition: background-color 0.2s;

      &:hover {
        color: white;
        background: $primary1;
      }
    }
  }
</style>
