<template>
    <header class="c-header" :class="{'c-header--solid': showSolid}">
      <div class="container d-flex align-items-center">
        <h4 class="c-header__logo" @click="navigateTo()">JF</h4>
        <span class="flex-fill"></span>
        <button class="c-header__link" v-for="section in sections" :key="section" @click="navigateTo(section)">
          {{section}}
        </button>
      </div>
    </header>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Header extends Vue {
  private showSolid = false;
  private sections = [
    'about',
    'experience',
    'skills',
    'projects',
    'contacts'
  ];

  mounted (): void {
    window.addEventListener('scroll', () => {
      if (document.scrollingElement !== null) {
        this.showSolid = document.scrollingElement.scrollTop !== 0;
      }
    });
  }

  navigateTo (sectionName: string): void {
    const scrollableElement = document.getElementById(`${sectionName}-section`);
    const newScroll = scrollableElement ? scrollableElement.offsetTop - 50 : 0;

    window.scrollTo({
      top: newScroll,
      behavior: 'smooth'
    });
  }
}
</script>

<style lang="scss">
  @import "../assets/sass/index";

  .c-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: color 0.4s, background-color 0.4s, box-shadow 0.4s;
    z-index: 10;

    &--solid {
      background-color: rgba(77,85,95, 0.95);
      box-shadow: 0 0 4px 2px $background1;

      .c-header__logo,
      .c-header__link {
        color: $primary1;
        text-shadow: none;
      }
    }

    &__logo {
      line-height: 2em;
      margin: 0;
      cursor: pointer;
      color: white;
      transition: color 0.4s, text-shadow 0.4s;
      text-shadow: 2px 2px 4px #464c4f;
    }

    &__link {
      display: none;
      padding: 0.375rem 0.75rem;
      color: white;
      font-weight: bold;
      text-transform: capitalize;
      border: 3px solid transparent;
      background: transparent;
      box-shadow: none !important;
      transition: color 0.4s, border 0.4s, text-shadow 0.4s;
      text-shadow: 2px 2px 4px #464c4f;

      @include media-breakpoint-up(lg) {
        display: block;
      }

      &:hover {
        color: white;
        border-bottom-color: white;
      }
    }

    .container {
      height: 50px;
    }
  }
</style>
