<template>
  <div class="c-projects container">
    <h3 class="c-projects__title">
      Projects
    </h3>

    <div class="c-projects-entry" v-for="(project,index) in projects" :key="index">
      <img class="c-projects-entry__image" :src="project.imageUrl"/>
      <h4 class="c-projects-entry__name">
        {{ project.name }}
      </h4>
      <p class="c-projects-entry__description">
        {{ project.description }}
      </p>
      <a class="c-projects-entry__link" :href="project.link" target="_blank">
        {{ project.link }}
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import data from '../assets/data.json';

@Component
export default class Projects extends Vue {
  private projects = data.projects;
}
</script>

<style lang="scss">
@import '../assets/sass/index';

.c-projects {
  &__title {
    margin-bottom: 2rem;
    position: relative;
    grid-area: title;
    background: $primaryGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $primaryGradient;
    }
  }
}

.c-projects-entry {
  margin-bottom: 4rem;
  display: grid;
  grid-template-areas:
    'name'
    'image'
    'description'
    'link';
  grid-gap: 1rem;

  @include media-breakpoint-up(lg) {
    grid-template-areas:
    'image  name'
    'image description'
    'image link';
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content max-content 1fr;
  }

  &__image {
    width: 100%;
    height: auto;
    grid-area: image;
    border-radius: 4px;
  }

  &__name {
    grid-area: name;
  }

  &__description {
    grid-area: description;
    color: white;
  }

  &__link {
    grid-area: link;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
</style>
