<template>
  <div class="c-skills container">

    <h3 class="c-skills__title">
      Skills
    </h3>
    <div class="c-skills__entry c-skills-entry" v-for="(entry,index) in technologies" :key="`t-${index}`">
      <p class="c-skills-entry__label">
        {{ entry.name }}
      </p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          :style="{'width': entry.progress + '%'}"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100">
          {{ getExperienceLabel(entry.progress) }}
        </div>
      </div>
    </div>

    <h3 class="c-skills__title mt-5">
      Languages
    </h3>
    <div class="c-skills__entry c-skills-entry" v-for="(entry,index) in languages" :key="`l-${index}`">
      <p class="c-skills-entry__label">
        {{ entry.name }}
      </p>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          :style="{'width': entry.progress + '%'}"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100">
          {{ getLanguageLabel(entry.progress) }}
        </div>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import data from '../assets/data.json';

@Component
export default class Skills extends Vue {
  private languages = data.languages;
  private technologies = data.technologies;

  getExperienceLabel (progress: number): string {
    if (progress <= 20) return 'Barely touched';
    if (progress <= 40) return 'Beginner';
    if (progress <= 60) return 'Intermediate';
    if (progress <= 80) return 'Advanced';
    return 'Expert';
  }

  getLanguageLabel (progress: number): string {
    if (progress <= 16) return 'A1 - Beginner';
    if (progress <= 32) return 'A2 - Elementary';
    if (progress <= 48) return 'B1 - Intermediate';
    if (progress <= 64) return 'B2 - Upper Intermediate';
    if (progress <= 80) return 'C1 - Advanced';
    return 'C2 - Proficiency';
  }
}
</script>

<style lang="scss">
@import '../assets/sass/index';

.c-skills {
  &__title {
    margin-bottom: 2rem;
    position: relative;
    grid-area: title;
    background: $primaryGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $primaryGradient;
    }
  }
}

.c-skills-entry {
  margin-bottom: 1rem;

  &__label {
    font-size: 1.5rem;
    color: white;
  }
}
</style>
