<template>
  <div id="app" class="c-app">
    <header-component/>

    <banner/>

    <section id="about-section" class="c-app__section">
      <about/>
    </section>

    <section id="experience-section" class="c-app__section">
      <experience/>
    </section>

    <section id="skills-section" class="c-app__section">
      <skills/>
    </section>

    <section id="projects-section" class="c-app__section">
      <projects/>
    </section>

    <!--<div id="awards-section" class="c-home__section">
      <div class="container">
        <h3 class="c-home__section-title mb-5">Awards</h3>

        <div class="row" v-for="(award,index) in awards" :key="index">
          <div class="col-md-4">
            <img class="c-home__projects-image img-fluid" :src="award.imageUrl"/>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-7">
            <h4 class="c-home__projects-title">{{award.name}}</h4>
            <p class="c-home__projects-description">{{award.description}}</p>
            <a class="c-home__projects-link" :href="award.link" target="_blank">
              {{cutString(award.link)}}
            </a>
          </div>
        </div>
      </div>
    </div>-->

    <section id="contacts-section" class="c-app__section">
      <contacts/>
    </section>

    <footer-component/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

// Components
import About from './components/about.component.vue';
import Banner from './components/banner.component.vue';
import Contacts from './components/contacts.component.vue';
import Experience from './components/experience.component.vue';
import FooterComponent from './components/footer.component.vue';
import HeaderComponent from './components/header.component.vue';
import Projects from './components/projects.component.vue';
import Skills from './components/skills.component.vue';

@Component({
  components: {
    About,
    Banner,
    Contacts,
    Experience,
    FooterComponent,
    HeaderComponent,
    Projects,
    Skills
  }
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import "assets/sass/print";
@import './assets/sass/colors';

.c-app {

  &__section {
    padding: 1.8rem 0 3.6rem;

    &:nth-child(even) {
      background-color: $background2;
    }
  }

  &__section-title {
    font-size: 50px;
    text-align: center;
    background: $primaryGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .c-home__section-text {
    color: white;
  }
}
</style>
