@import "colors";
@import "types";

h1, h2, h3, h4, h5, p, a {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  color: $primary1;
  background: $background3;
}

a {
  color: $secondary1;
}

//Bootstrap
.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.progress {
  background-color: $background1;
}

.progress-bar {
  background-color: $primary2;
}
