@media print {

    /*Hide unnecessary elements*/
    .c-header,
    .c-footer {
        display: none;
    }

    .c-app__section {
        position: relative;
        break-after: page;
    }

    .c-about-details {
        margin-bottom: 24rem;
    }

    .c-experience-entry,
    .c-experience-education {
        break-inside: avoid-page;
    }

    .c-experience {
        padding-bottom: 14.2rem;
    }

    .c-experience-entry:nth-child(3),
    .c-experience-entry:nth-child(5){
        padding-top: 4rem;
    }

    .c-experience > :nth-child(2) {
        padding-bottom: 8rem;
    }

    .c-projects-entry:nth-child(3) {
        padding-top: 14rem;
        padding-bottom: 18.2rem;
    }

    .c-contacts {
        padding-bottom: 43.65rem;
    }
}
