@mixin type-h1 {
  font-size: 5rem;
}

@mixin type-h2 {
  font-size: 4rem;
}

@mixin type-h3 {
  font-size: 3rem;
}

@mixin type-h4 {
  font-size: 2rem;
}

@mixin type-h5 {
  font-size: 1.5rem;
}

h1 {
  @include type-h1;
}

h2 {
  @include type-h2;
}

h3 {
  @include type-h3;
}

h4 {
  @include type-h4;
}

h5 {
  @include type-h5;
}